.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.about {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.about:hover {
  color: gray;
}
